aiohttp==3.6.2
aiomysql==0.0.20
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
idna==2.8
idna-ssl==1.1.0
multidict==4.7.4
pycparser==2.19
PyExecJS==1.5.1
PyMySQL==0.9.2
redis==3.5.3
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
typing-extensions==3.7.4.2
urllib3==1.25.8
yarl==1.4.2